#img-logo {
  width: 70px;
}

#nav-menu {
  background-color: rgb(255, 225, 255);
  font-size: 20px;
}

.container {
  position: relative;
  height: 100vh;
}

#prototipo {
  position: relative;
  height: 100vh;
  background-color: rgb(255, 225, 255);
}

#text-home {
  position: absolute;
  top: 15%;
  left: 20%;
  right: 20%;
  text-align: center;
}

#img-gestao {
  height: 300px;
  width: 500px;
}

#cel {
  height: 400px;
  border-radius: 10%;
  margin-bottom: 10px;
}

#button-cel {
  background-color: rgb(223, 159, 170);
  border-color: rgb(223, 159, 170);
}

#footer {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: rgb(255, 225, 255);
}

#stef {
  border-radius: 50%;
  height: 150px;
  margin-top: 20px;
}

#icons {
  font-size: 50px;
  color: rgb(223, 159, 170);
}

#slides {
  width: 1200px;
  height: 750px;
  margin-top: 25px;
  align-content: center;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}